.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color: black;
}

.copyrightfooter{
    position:fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas{
    border-radius: 30px;
    box-shadow: 5px 5px 5px yellow;
    border: 5px solid blue;
    
}